/* SCSS HEX */
$vivid-tangerine: #ffa69eff;
$eggshell: #faf3ddff;
$aero-blue: #b8f2e6ff;
$powder-blue: #aed9e0ff;
$black-coral: #5e6472ff;
$timber-wolf: #DEDBD2ff;
$battleship-grey: #898989;
$viridian: #328474;
$off-white: #f8f8f8ff;